<h1>Test results</h1>

<div class="user-form">
	<fieldset>
		<legend>Choose Test and Class</legend>
		<%= form_tag("show_test_results", method: "post") do %>
		<p>
			<label for="test">Test:</label>
			<% tests = TestTemplate.all #find(:all, :order => "name") %>
			<%= select_tag(:test, options_from_collection_for_select(tests, :id, :name)) %>
		</p>
		<p>
			<label for="course">Class:</label>
			<% classes = Course.all #find(:all, :order => "course_name", :order => "class_number") %>
			<%= select_tag(:course, options_from_collection_for_select(classes, :id, 'title')) %>
		</p>
		<%= submit_tag "Show results" %>
		<% end %>
	</fieldset>
</div>
